body {
    background: #000;
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
}

h1 {
    text-decoration: underline;
}

#game-window {
    background: #fff;
    color: #000;
}


#code {
    height: 600px; 
    background: #a1b2c3;
    width: 800px;
}


